.card-container {
  padding: 1em;
  margin: 0.2em;
}
.material-card-content-style {
align-content: center;
padding-bottom: 2%;
padding-top: 2%;
}
.odd_row{
background:#f9f9f9;
}

.right_placeholder{
text-align:right;
}

.heading {
background-color: #357EBD;
color: #FFF;
margin-bottom: 3em;
text-align: center;
line-height: 1.2em;
}

.style-elements * {
  padding: 0.2em;
}