
<div >
  <form [formGroup]="purchaseInvoiceForm">
    <mat-card class="card-container" >
      <mat-card-title *ngIf="!purchaseInvoiceForm.controls.invoiceName.value">New Sales Invoice</mat-card-title>
      <mat-card-title *ngIf="purchaseInvoiceForm.controls.invoiceName.value">Invoice Number : {{ purchaseInvoiceForm.controls.invoiceNumber.value }}</mat-card-title>
    <mat-card-content class="material-card-content-style">

          <div class="style-elements" fxLayout="column">
              <div fxLayout="column" style="font-weight: bolder;">
                <mat-form-field fxLayoutAlign="end space-around" >
                    <input *ngIf="!invoiceName" matInput placeholder="Invoice Name" formControlName="invoiceName" required>
                </mat-form-field>
                <mat-form-field fxLayoutAlign="end space-around" >
                  <input matInput placeholder="Date" formControlName="date" >
                </mat-form-field>
                <mat-form-field fxLayoutAlign="start space-around" >
                    <input matInput placeholder="Customer Id" formControlName="customerId" required>
                </mat-form-field>
              </div>
  
              <div fxLayout="column" style="font-weight: bolder;">
                <mat-form-field fxLayoutAlign="start space-around"  >
                  <input matInput placeholder="Customer Name" formControlName="customerName" required>
                </mat-form-field>
        
                <mat-form-field fxLayoutAlign="start space-around" >
                  <input matInput placeholder="Invoice Number" formControlName="invoiceNumber"  required>
                </mat-form-field>
              </div>
            </div>
            </mat-card-content>
          </mat-card>
        </form>
    </div> 
    
    <div class="card-container" >
        <form [formGroup]="form" novalidate>
            <mat-card class="card-container">
              <div formArrayName="invoiceItems" >
                <div class="style-elements" fxLayout.xs="column" 
                    *ngFor="let item of invoiceItems.controls; let i=index; let odd=odd;" [formGroupName]="i">
                  {{i+1}}.
                  <mat-form-field >
                    <input class="form-control" matInput placeholder="Name" formControlName="name">
                  </mat-form-field>
                  <mat-form-field >
                    <input class="form-control" matInput placeholder="Unit" formControlName="unit">
                  </mat-form-field>
                  <mat-form-field matInput >
                    <input class="form-control" matInput type="number" placeholder="Quantity" formControlName="qty">
                  </mat-form-field>
                  <mat-form-field >
                    <input class="form-control" matInput type="number" placeholder="Cost" formControlName="cost">
                  </mat-form-field>
                  <mat-form-field >
                    <input class="form-control right_placeholder" matInput  placeholder="Total" disabled value="{{ item.value.total | currency:cur  }}">
                  </mat-form-field>
                  <button mat-icon-button (click)="cloneItem(item)">
                        <mat-icon class="mat-24" aria-label="remove">playlist_add</mat-icon>
                  </button>  
                  <button mat-icon-button (click)="removeItem(item)">
                      <mat-icon class="mat-24" aria-label="remove">delete</mat-icon>
                  </button>  
                </div>
              </div>
              <div fxLayout="row">
                <div fxFlex="95" fxLayoutAlign="end end">
                  <button mat-mini-fab (click)="addItem()" class="mat-small">+</button>
                </div>
              </div>
    
              <div fxLayoutAlign="start start" fxLayout="row" >
                <div fxFlex="50">
                </div>
                <div fxFlex="20" fxLayoutAlign="start center">
                    <label>Sub total</label>
                </div>
                <div fxFlex="20" fxLayoutAlign="start start">
                  <input class="form-control right_placeholder" matInput disabled value="{{ form.controls.subTotal.value | currency:cur  }}">
                </div>
                <div fxFlex>
                </div>  
              </div>
        
              <div fxLayout="row">
                <div fxFlex=50></div>
                <mat-form-field fxFlex="20">
                  <input style="direction: rtl;"  matInput type="number" formControlName="taxPercent" placeholder="% tax">
                  <span matSuffix>&nbsp; %</span>
                </mat-form-field>
                <mat-form-field fxFlex="20">
                  <input class="form-control right_placeholder" matInput disabled value="{{ form.controls.tax.value | currency:cur }}">
                </mat-form-field>
                <div fxFlex></div>
              </div>
        
              <div fxLayout="row" >
                <div fxFlex="50">
                </div>
                <div fxFlex="20">
                    <label>Grant total</label>
                </div>
                <div fxFlex="20"  >
                  <input class="form-control right_placeholder" matInput disabled value="{{ form.controls.grantTotal.value | currency:cur  }}">
                </div>
                <div fxFlex>
                  </div>
              </div>
        </mat-card>    
      </form>
        </div>
      
      <div class="card-container" >
        <form [formGroup]="purchaseInvoiceForm">      
      
            <mat-card class="card-container">
                <mat-card-title>Invoice Footer</mat-card-title>
                <mat-card-content fxLayout="column">
      
                  <mat-form-field >
                  <input matInput placeholder="Terms And Conditions" formControlName="termsAndConditions"  required>
                  </mat-form-field>
      
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="createNewPurchaseInvoice()" mat-flat-button color="primary" [disabled]="!purchaseInvoiceForm.valid" *ngIf="!button">Create</button>
                    <button (click)="updatePurchaseInvoice()" mat-flat-button color="primary" [disabled]="!purchaseInvoiceForm.valid" *ngIf="button">Update</button>
                    <!-- <button style="float: right;" (click)="deleteAccount()" mat-flat-button color="primary" [disabled]="!accountForm.valid" *ngIf="accountNumber">delete</button> -->
                </mat-card-actions>
            </mat-card>
        </form>
      </div>
      
      