<form [formGroup]="settingsForm">
  <div class="card-container">
    <mat-card>
    <mat-card-title > Account Settings </mat-card-title>
    <div fxLayout="column" fxLayoutAlign="space-around end" >
      <mat-form-field>
        <mat-select placeholder="{{ selectedDomain.name }}" formControlName="domain" select>
          <mat-option *ngFor="let dom of domainList" [value]="dom">{{ dom.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button matSuffix (click)="getDomainData()">
        <mat-icon>queue_play_next</mat-icon>
      </button>
    </div>
    <mat-card-content fxLayout="column">

      <mat-form-field>
        <mat-select placeholder="Period Closing" formControlName="periodClosing" select>
          <mat-option *ngFor="let period of closingOptions" [value]="period">{{ period }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="setPeriodClosing()" mat-flat-button color="primary">Update</button>
    </mat-card-actions>
  </mat-card>
  </div>
  <div class="card-container">
  <mat-card>
      <mat-card-title > Account Setup  <mat-icon *ngIf="accountSetup">done_all</mat-icon></mat-card-title>
    <mat-card-title>
      <mat-card-content>
        <button *ngIf="!accountSetup"mat-flat-button color="primary" (click)="setupAccount()">
          Setup Accounts
        </button>
      </mat-card-content>
    </mat-card-title>
  </mat-card>
  </div>
</form>
