
 <div class="card-container">
    <form [formGroup]="accountForm">
      <mat-card>
          <mat-card-content fxLayout="column">
        <mat-form-field >
          <ngx-mat-file-input
          formControlName="bulkCSV"
          type="file"
          (change)="onFileChanged($event)"
          placeholder="BulkCSV"
          accept=".csv"
          #fileInput >
        </ngx-mat-file-input>
        <mat-icon style="float:right">folder</mat-icon>
      </mat-form-field>
      <mat-card-actions>
          <button (click)="uploadCSV()" mat-flat-button color="primary" style="float:right" *ngIf="bulkCSV"><mat-icon>cloud_upload</mat-icon></button>
        </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
</div>
<div div fxLayout="row" fxLayoutAlign="center center" class="card-container">
    <form [formGroup]="accountForm">
      <mat-form-field>
        <mat-select placeholder="{{ selectedDomain.name }}" formControlName="domain" select>
          <mat-option *ngFor="let dom of domainList" [value]="dom">{{ dom.type }}</mat-option>
        </mat-select>
      </mat-form-field>
          <button mat-button matSuffix (click)="getDomainData()">
              <mat-icon>queue_play_next</mat-icon>
            </button>
    </form>
  </div>
<div class="card-container">
  <mat-card>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        {{node.accountNumber}}
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button
          mat-icon-button
          [attr.aria-label]="'toggle ' + node.children"
          (click)="loadChildren(node)"
          matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.accountNumber }}
        <mat-progress-bar *ngIf="node.isLoading"
                          mode="indeterminate"
                          class="example-tree-progress-bar"></mat-progress-bar>
      </mat-tree-node>
    </mat-tree>
  </mat-card>
</div>